// 系统时钟
IO_LOC  "clk"          M19;
IO_PORT "clk"          IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// 复位按键 SW5
IO_LOC  "rstn"        AB3;
IO_PORT "rstn"        IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// 4个按键引脚(所在 Bank 为 1.5V 供电)

IO_LOC "key_in[3]" T20;
IO_PORT "key_in[3]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;

IO_LOC "key_in[2]" U20;
IO_PORT "key_in[2]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;

IO_LOC "key_in[1]" R18;
IO_PORT "key_in[1]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;

IO_LOC "key_in[0]" T18;
IO_PORT "key_in[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;

// ADC 芯片控制引脚
IO_LOC  "ad_clk"       G18;
IO_PORT "ad_clk"       IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC  "ad_oe"        H20;
IO_PORT "ad_oe"        IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// ADC 10 位并行数据总线 (ad_data[9:0])
IO_LOC  "ad_data[9]"   E19;
IO_PORT "ad_data[9]"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC  "ad_data[8]"   G17;
IO_PORT "ad_data[8]"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC  "ad_data[7]"   G19;
IO_PORT "ad_data[7]"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC  "ad_data[6]"   H19;
IO_PORT "ad_data[6]"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC  "ad_data[5]"   H18;
IO_PORT "ad_data[5]"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC  "ad_data[4]"   D19;
IO_PORT "ad_data[4]"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC  "ad_data[3]"   J19;
IO_PORT "ad_data[3]"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC  "ad_data[2]"   J20;
IO_PORT "ad_data[2]"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC  "ad_data[1]"   M21;
IO_PORT "ad_data[1]"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC  "ad_data[0]"   L21;
IO_PORT "ad_data[0]"   IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// 电机驱动引脚
IO_LOC "pwm_out" Y18;
IO_PORT "pwm_out" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "ain2" Y19;
IO_PORT "ain2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "ain1" Y17;
IO_PORT "ain1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

// 编码器引脚
IO_LOC "encode_a" W17;
IO_PORT "encode_a" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "encode_b" W18;
IO_PORT "encode_b" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// LED驱动引脚
IO_LOC "led[0]" U18;
IO_PORT "led[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "led[1]" U19;
IO_PORT "led[1]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "led[2]" U17;
IO_PORT "led[2]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "led[3]" T17;
IO_PORT "led[3]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
